Brendan Abbott <brendan@bloodbone.ws>
Brendan Abbott <brendan@bloodbone.ws> <brendan.abbott@shopify.com>
David Graham <david.malcom.graham@gmail.com>
David Graham <david.malcom.graham@gmail.com> <dgraham@github.com>
Ed Sanders <ejsanders@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
